<% layout('layouts/boilerplate') %>

    <section class="container">
        <h2>Edit Rule</h2>
        <form action="/rules/<%= rule._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="Title" name="rule[title]"
                    value="<%= rule.title %>" required />
                <label for="title">Title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="rule[description]" id="description" placeholder="description"
                    required><%= rule.description %></textarea>
                <label for="description">Description</label>
            </div>
            <button class="btn btn-success">Save</button>
        </form>
        <a href="/rules">ALL</a>
    </section>