<% layout('layouts/boilerplate') %>

	<section class="container">
		<h2>New Rule</h2>
		<form action="/rules" method="POST" class="needs-validation" novalidate>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" placeholder="Rule Name" name="rule[title]" required/>
				<label for="title">Title</label>
			</div>
			<div class="form-floating mb-3">
				<textarea class="form-control" name="rule[description]" required></textarea>
				<label for="description">Description</label>
			</div>
			<button class="btn btn-success">Save</button>
		</form>
		<a href="/rules">ALL</a>
	</section>