<% layout('layouts/boilerplate') %>

<section class="container">
  <h2>New Rules</h2>
  <form action="">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Rule Name" />
    </div>
    <div class="input-group">
      <span class="input-group-text">Rule Description</span>
      <textarea class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</section>
