<% layout('layouts/boilerplate') %>

<section class="container">
  <h1>Rules</h1>
  <h2>Pravilo1</h2><h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia, ratione
    laborum tempora rerum similique necessitatibus, aut consectetur earum enim
    aspernatur! Exercitationem ut expedita possimus et delectus itaque enim
    illo.
  </h3></h2>
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia, ratione
    laborum tempora rerum similique necessitatibus, aut consectetur earum enim
    aspernatur! Exercitationem ut expedita possimus et delectus itaque enim
    illo.
  </h2>
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia, ratione
    laborum tempora rerum similique necessitatibus, aut consectetur earum enim
    aspernatur! Exercitationem ut expedita possimus et delectus itaque enim
    illo.
  </h2>
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia, ratione
    laborum tempora rerum similique necessitatibus, aut consectetur earum enim
    aspernatur! Exercitationem ut expedita possimus et delectus itaque enim
    illo.
  </h2>
</section>
