<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BlindDatee</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/users/discover">Discover</a>
                <a class="nav-link" href="/users/chats">Chats</a>
                <a class="nav-link" href="/rules">Rules</a>
                <a class="nav-link" href="/badges">Badges</a>
                <a class="nav-link" href="/users/login">Login</a>
            </div>
            <div class="navbar-nav ml-auto">
                
            </div>
        </div>
    </div>
</nav>
