<% layout('layouts/boilerplate') %>

    <section class="container">
        <h2 class="d-flex justify-content-center">Welcome</h2>
        <form action="/users/login" method="POST" class="d-flex flex-column needs-validation" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="username" name="user[username]" required>
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="user[password]" required>
                <label for="exampleInputPassword1" class="form-label">Password</label>
            </div>
            <button type="submit" class="btn btn-primary justify-content-center">Submit</button>
        </form>
        <p class="d-flex justify-content-center">You don't have an account?<a href="/users/register">register</a></p>
    </section>