<% layout('layouts/boilerplate') %>
    <section class="container">
        <h1>The new way of <span>DATING</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla, numquam unde accusantium exercitationem
            voluptatibus. Fuga sint dicta nulla, saepe a pariatur explicabo aspernatur ex at incidunt optio obcaecati culpa.
        </p>
        <a href="/login">Get Started</a>
    </section>