<% layout('layouts/boilerplate') %>

<section class="container d-flex flex-row">
    <section class="container">
        <h2>Filter</h2>
        <form action="/discover" method="post">
            <section class="d-flex flex-column">
                <label for="sex">Sex</label>
                <select name="user[sex]" id="sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                    <option value="Two-Spirit">Two-Spirit</option>
                    <option value="Cisgender">Cisgender</option>
                    <option value="Non-Binary">Non-Binary</option>
                    <option value="Genderqueer">Genderqueer</option>
                    <option value="Gender fluid">Gender fluid</option>
                    <option value="Gender neutral">"Gender neutral</option>
                </select>

                <label for="orientation">Orientation</label>
                <select name="user[orientation]" id="orientation">
                    <option value="Lesbian">Lesbian</option>
                    <option value="Bisexual">Bisexual</option>
                    <option value="Pansexual">Pansexual</option>
                    <option value="Gay">Gay</option>
                    <option value="Asexual">Asexual</option>
                    <option value="Allosexual">Allosexual</option>
                    <option value="Heterosexual">Heterosexual</option>
                    <option value="Homosexual">Homosexual</option>
                    <option value="Monosexual">Monosexual</option>
                    <option value="Polysexual">Polysexual</option>
                    <option value="Queer">Queer</option>
                </select>

                <section>
                    <label>Years</label>
                    <label for="years" class="form-label">From</label>
                    <input
                        type="range"
                        class="form-range"
                        min="18"
                        max="90"
                        id="years"
                        name="user[years-from]"
                    />
                    <label for="years" class="form-label">To</label>
                    <input
                        type="range"
                        class="form-range"
                        min="18"
                        max="90"
                        id="years"
                        name="user[years-to]"
                    />
                </section>

                <label for="relationshipStatus">Relationship Status</label>
                <select name="user[relationshipStatus]" id="relationshipStatus">
                    <option value="Commited">Commited</option>
                    <option value="Dating">Dating</option>
                    <option value="Engaged">Engaged</option>
                    <option value="Exclusive">Exclusive</option>
                    <option value="Married">Married</option>
                    <option value="Open Relationship">Open Relationship</option>
                    <option value="Partnered">Partnered</option>
                    <option value="Single">Single</option>
                </select>

                <section>
                    <label>Height</label>
                    <label for="height-from" class="form-label">From</label>
                    <input
                        type="range"
                        class="form-range"
                        min="130"
                        max="250"
                        id="height-from"
                        name="user[height-from]"
                    />

                    <label for="height-to" class="form-label">To</label>
                    <input
                        type="range"
                        class="form-range"
                        min="130"
                        max="250"
                        id="height-to"
                        name="user[height-to]"
                    />
                </section>

                <section>
                    <label>Weight</label>
                    <label for="weight-from" class="form-label">From</label>
                    <input
                        type="range"
                        class="form-range"
                        min="130"
                        max="150"
                        id="weight-from"
                        name="user[weight-from]"
                    />

                    <label for="weight-to" class="form-label">To</label>
                    <input
                        type="range"
                        class="form-range"
                        min="130"
                        max="150"
                        id="weight-to"
                        name="user[weight-to]"
                    />
                </section>

                <label for="bodyType">Body Type</label>
                <select name="user[bodyType]" id="bodyType">
                    <option value="Average">Average</option>
                    <option value="Large">Large</option>
                    <option value="Muscular">Muscular</option>
                    <option value="Slim">Slim</option>
                    <option value="Stocky">Stocky</option>
                    <option value="Toned">Toned</option>
                </select>
            </section>

            <button>Search</button>
        </form>
    </section>
    <section class="container d-flex flex-column">
        <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" class="d-block w-100" alt="images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>
                            Some representative placeholder content for the
                            first slide.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" class="d-block w-100" alt="images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>
                            Some representative placeholder content for the
                            second slide.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" class="d-block w-100" alt="images/yuriy-mlcn-3MORfl6x1Yg-unsplash.jpg" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>
                            Some representative placeholder content for the
                            third slide.
                        </p>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <section class="container" id="card_buttons">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary">Like</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">
                        Dislike
                    </button>
                </div>
            </div>
        </section>
    </section>
</section>
