<% layout('layouts/boilerplate') %>

<section class="container">
    <h2>Badges</h2>
    <% if (currentUser && currentUser.access == "admin") { %>
    <a href="/badges/new">ADD</a>
    <% } %>
    <ul>
        <% for ( let badge of badges) { %>
        <li>
            <a href="/badges/<%= badge._id %>"><%= badge.title %></a>
        </li>
        <% } %>
    </ul>
</section>
