<% layout('layouts/boilerplate') %>

    <section class="container">
        <a href="/badges/new">ADD</a>
        <ul>
            <% for ( let badge of badges) { %>
                <li>
                    <a href="/badges/<%= badge._id %>"><%= badge.title %></a>
                </li>
                <% } %>
        </ul>
    </section>