<% layout('layouts/boilerplate') %>

<section class="container">
    <h2>Badges</h2>
    <% if (currentUser && currentUser.access == "admin") { %>
        <a href="/badges/new">ADD</a>
    <% } %>
    <div class="row g-3 row-cols-4">
        <% for ( let badge of badges) { %>
        <div class="col">
            <div class="card">
                <img src="<%= badge.image.url %>" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title"><%= badge.title %></h5>
                    <a href="/badges/<%= badge._id %>" class="btn btn-primary"
                        >Details</a
                    >
                </div>
            </div>
        </div>
        <% } %>
    </div>
</section>
