<% layout('layouts/boilerplate') %>

    <section class="container">
        <h2>Edit Badge</h2>
        <form action="/badges/<%= badge._id %>?_method=PUT" method="post">
            <div>
                <label for="title">Title: </label>
                <input type="text" id="title" name="badge[title]" value="<%= badge.title %>">

                <label for="description">Description</label>
                <textarea name="dabge[description]" id="description" cols="10" rows="2"><%= badge.description %></textarea>
            </div>
            <button>Save</button>
        </form>
        <a href="/badges">All</a>
    </section>