<% layout('layouts/boilerplate') %>

    <form action="/badges/<%= badge._id %>?_method=PUT" method="post">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="badge[title]" value="<%= badge.title %>">
        </div>
        <button>Save</button>
    </form>
    <a href="/badges">All</a>