<% layout('layouts/boilerplate') %>

    <section class="container">
        <h2>New Badge</h2>
        <form action="/badges" method="post" novalidate class="form-floating needs-validation">
            <div>
                <div class="form-floating mb-3">
                    <input type="text" id="title" name="badge[title]" placeholder="Title" class="form-control" required>
                    <label for="title">Title</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea name="badge[description]" id="description" cols="10" rows="2" class="form-control"
                        placeholder="Description" required></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <button class="btn btn-success">Save</button>
        </form>
        <a href="/badges">All</a>
    </section>