<% layout('layouts/boilerplate') %>

<form action="/badges" method="post">
    <div>
        <label for="title">Title: </label>
        <input type="text" id="title" name="badge[title]">
    </div>
    <button>Save</button>
</form>
<a href="/badges">All</a>