<% layout('layouts/boilerplate') %>

<section class="container">
  <img src="" alt="" />
  <h2>Badge Name</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor eos officia
    atque aut voluptas molestias voluptates, nemo earum sequi tempore molestiae
    quam fugit accusantium quod alias. Sunt blanditiis modi fugiat.
  </p>
  <h3>Simillar Badges</h3>
  <ul>
      <li>Badge 1</li>
      <li>Badge 2</li>
      <li>Badge 3</li>
      <li>Badge 4</li>
      <li>Badge 5</li>
  </ul>
</section>
