<% layout('layouts/boilerplate') %>

<section class="container">
  <img src="" alt="" />
  <h2></h2>
  <p>Description...</p>
  <section>
    <div>tag</div>
    <div>tag</div>
    <div>tag</div>
    <div>tag</div>
    <div>tag</div>
    <div>tag</div>
    <div>tag</div>
  </section>
  <section>
    <ul>
      <li>Sex:</li>
      <li>Country:</li>
      <li>Education:</li>
      <li>Work:</li>
      <li>Orientation:</li>
      <li>Hobbies:</li>
      <li>Searching:</li>
    </ul>
  </section>
</section>
