<% layout('layouts/boilerplate') %>

    <section class="container">
        <ul>
            <% for( let user of users ) { %>
                <li><a href="/users/<%= user._id %>"><%= user.userName %></a></li>
                <% } %>
        </ul>
    </section>