<% layout('layouts/boilerplate') %>

<section class="container">
  <section class="chatBubbles">
    <div>
      <img src="" alt="" />
      <h2></h2>
    </div>
  </section>
  <section class="messages">
    <div></div>
    <div></div>
  </section>
  <form action="">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
