<% layout('layouts/boilerplate') %>

	<section class="container d-flex flex-row">
		<section class="container chatBubbles">
			<input type="text" name="search" id="search">
			<% for( let user of users ) { %>
				<div>
					<img src="" alt="">
					<h4><%= user.firstName %> <%= user.middleName %> <%= user.latsName %></h4>
				</div>
				<% } %>
		</section>
		<section class="container messages">
			<form action="/chats" method="POST">
				<div>
					<input type="text" class="form-control" id="" />
				</div>
				<button class="btn btn-primary">Send</button>
			</form>
		</section>
	</section>