<% layout('layouts/boilerplate') %>

	<section class="container d-flex flex-row">
		<section class="container chatBubbles">
			<input type="text" name="search" id="search">
			<% for( let user of users ) { %>
				<div>
					<img src="" alt="">
					<h4><%= user.firstName %> <%= user.middleName %> <%= user.latsName %></h4>
				</div>
				<% } %>
		</section>
		<section class="container">
			<ul id="messages"></ul> <!-- TODO: change the visualization of the chat messages -->
			<form action="" id="form">
				<div class="d-flex flex-row">
					<input type="text" class="form-control" id="input" />
					<button class="btn btn-primary">Send</button>
				</div>
			</form>
		</section>
	</section>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/client.js"></script>